<ul><% @jobs.each do |job| %>
	<li> <%= link_to 'Show', job %><strong class="job_title"><%= job.title %></strong><span class="descripion"><%= job.description %></span></li></ul>



<%= link_to 'Edit', edit_job_path(job) %>
<% end %>


<br />

<%= link_to 'New Job', new_job_path %>
